textarea {
    width: 100%;
    height: 10em;
}

body {
    font-family: sans-serif;
}

#score {
    width: 100%;
    height: 10em;
    background-color: rgba(255,255,255,0.6);
}

.selected {
    fill: red;
    stroke: red;
}

#drums {
    position: sticky;
    bottom: 0px;
    opacity: 1;
    z-index: -1;
}

#main {
    text-align: center;;
}

#btn-slower {
    background-color: red;
}

#btn-faster {
    background-color: green;
}

.controls button,input,select {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

h2 {
    text-align: left;
}

#abc {
    display: none;
}

.toggle {
    float: right;
}

#summary {
    bottom: 1em;
    right: 1em;
    position: fixed;
    z-index:-2;
}

.logo {
    width: 100px;
}

#score-bar-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: solid 1px black;
    background-color: red;
    z-index: -3;
    opacity: 0;
}

#score-bar {
    position: absolute;
    bottom: 0;
    background-color: green;
    width: 100%;
    height: 90%;
    opacity: 0;
    transition: all 0.5s;
}

#score-percent {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    opacity: 0;
}