textarea {
    width: 100%;
    height: 10em;
}

body {
    font-family: sans-serif;
}

#score {
    width: 100%;
    height: 10em;
}

.selected {
    fill: red;
    stroke: red;
}

#drums {
    width: 600px;
    height: 600px;
}

#main {
    text-align: center;;
}

#btn-slower {
    background-color: red;
}

#btn-faster {
    background-color: green;
}

.controls button,input,select {
    padding: 1em;
    border-radius: 1em;
    text-align: center;
}

h2 {
    text-align: left;
}

#tab,#abc {
    display: none;
}

.toggle {
    float: right;
}