textarea {
    width: 100%;
    height: 10em;
}

body {
    font-family: sans-serif;
}

#score {
    width: 100%;
    height: 10em;
}

.selected {
    fill: red;
    stroke: red;
}

#drums {
    width: 600px;
    height: 600px;
}